/* =================================================
   RECIPE VIEW
   ================================================= */

.view {
  overflow: hidden;
  background-color: var(--color-background);
}

.header {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

  aspect-ratio: 24 / 9;
  margin-bottom: var(--spacing-md);
  border-top-left-radius: var(--border-radius-md);
  border-top-right-radius: var(--border-radius-md);

  background-color: var(--accent-3);

  .banner {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .image {
    overflow: hidden;
    flex-shrink: 0;

    width: 100%;
    height: 100%;
    border-top-left-radius: var(--border-radius-md);
    border-top-right-radius: var(--border-radius-md);

    object-fit: cover;
  }

  .difficulty {
    z-index: 1;
    margin-top: var(--spacing-md);
    margin-right: var(--spacing-md);
    box-shadow: var(--shadow-sm);
  }
}

.title {
  position: relative;

  margin: auto auto 0 0;
  padding-top: var(--spacing-sm);
  padding-right: var(--spacing-md);
  padding-left: var(--spacing-md);
  border-top-right-radius: var(--border-radius-md);

  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--color-text);

  background-color: var(--color-background);
}

.meta {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);

  padding: var(--spacing-md);

  background-color: var(--gray-3);
}

.ingredients {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: var(--space-3);

  /* grid-auto-rows: 1fr; */
  align-items: stretch;

  margin: 0;
  padding: 0;

  list-style: none;
}

.steps {
  counter-reset: steps;
  margin: 0;
  padding: 0;
  list-style-type: none;

  .step {
    counter-increment: steps;

    display: flex;
    gap: var(--spacing-sm);
    align-items: flex-start;

    padding-top: var(--spacing-xl);

    &::before {
      content: counter(steps);

      display: inline-flex;
      flex: 0 0 auto;
      align-items: center;
      justify-content: center;

      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;

      font-size: var(--font-size-sm);
      font-weight: 600;
      color: var(--color-background);

      background-color: var(--color-primary);
    }

    &:not(:first-child) {
      margin-top: var(--spacing-xl);
      border-top: var(--border-width) solid var(--color-border);
    }
  }
}

.footer {
  border-top: var(--border-width) solid var(--color-border);
  font-size: var(--font-size-sm);
}

.date {
  font-style: italic;
}
