
VITE_DEV_HOST=0.0.0.0
VITE_DEV_PORT=5173
VITE_DEV_HMR_HOST=apiurl.ext
VITE_DEV_HMR_PORT=5173
VITE_DEV_HMR_PROTOCOL=wss
VITE_DEV_HTTPS=true
VITE_DEV_HTTPS_KEY=/path/to/private/key/privkey.pem
VITE_DEV_HTTPS_CERT=/path/to/certificate/fullchain.pem
# Optionnel
# VITE_DEV_HTTPS_CA=/path/to/chain.pem

VITE_DEV_PUBLIC_URL=apiurl.ext:5173
VITE_DEV_PUBLIC_HOST=apiurl.ext
VITE_DEV_PUBLIC_HTTPS=true
VITE_DEV_ORIGIN=https://apiurl.ext:5173