/* =================================================
   IMAGE PREVIEW FIELD
   ================================================= */
.container {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  border-radius: var(--radius-3);
  background: var(--color-surface);
  padding: var(--space-4);
}

.preview {
  position: relative;
  border: 2px dashed var(--gray-7);
  border-radius: var(--radius-4);
  background: var(--gray-2);
  padding: var(--space-1);
  aspect-ratio: 1;
  width: 100%;
  max-width: 140px;
  overflow: hidden;

  .image {
    border-radius: var(--radius-4);
  }
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--gray-11);
  font-size: var(--font-size-2);
}