/* ==========================================================================
   GLOBAL STYLES
   ========================================================================== */

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family-primary);
  font-synthesis: none;
  line-height: 1.5;
  text-size-adjust: 100%;
  text-rendering: optimizelegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  margin: 0;

  font-family: var(--font-family-primary);
  font-size: var(--font-size-base);
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-text);

  background-color: var(--color-background);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;

  @media (width >= 576px) {
    overflow: hidden;
  }
}

[data-radix-scroll-area-viewport] > *:first-child {
  display: block !important;
  max-width: 100%;
}
