/* =================================================
   NOTICE
   ================================================= */

.success-opaque {
  color: var(--green-10);
  background-color: var(--green-3);
  box-shadow: inset 0 0 0 1px var(--green-6);
}

.error-opaque {
  color: var(--red-10);
  background-color: var(--red-3);
  box-shadow: inset 0 0 0 1px var(--red-6);
}

.info-opaque {
  color: var(--blue-10);
  background-color: var(--blue-3);
  box-shadow: inset 0 0 0 1px var(--blue-6);
}

.warning-opaque {
  color: var(--yellow-10);
  background-color: var(--yellow-3);
  box-shadow: inset 0 0 0 1px var(--yellow-6);
}

.neutral-opaque {
  color: var(--gray-10);
  background-color: var(--gray-3);
  box-shadow: inset 0 0 0 1px var(--gray-6);
}
