/* =================================================
   TAG
   ================================================= */

.tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-sm);
  background-color: var(--gray-3);
  padding: var(--spacing-xs) var(--spacing-sm);
  min-width: 1.5rem;
  min-height: 1.5rem;
  font-weight: 600;
}

.rounded {
  border-radius: var(--border-radius-lg);
  padding: var(--spacing-xs);
}

.green {
  background-color: var(--color-success-light);
  color: var(--color-success);
}
.yellow {
  background-color: var(--color-warning-light);
  color: var(--color-warning);
}
.red {
  background-color: var(--color-danger-light);
  color: var(--color-danger);
}