/* =================================================
   TAG
   ================================================= */

.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 1.5rem;
  min-height: 1.5rem;
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--border-radius-sm);

  font-weight: 600;

  background-color: var(--gray-3);
}

.rounded {
  padding: var(--spacing-xs);
  border-radius: var(--border-radius-lg);
}

.green {
  color: var(--color-success);
  background-color: var(--color-success-light);
}

.yellow {
  color: var(--color-warning);
  background-color: var(--color-warning-light);
}

.red {
  color: var(--color-danger);
  background-color: var(--color-danger-light);
}
